@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,900;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: #E3E0D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}


.tituloPagina {
    padding: 40px 0 10px 0;
    font-size: 2.5rem;
    font-weight: 800;
    color: #2E3B2F;
    text-align: center;
    letter-spacing: 0.4rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navPesquisa {
    display: flex;
    margin: 20px 0;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

section input {
    width: 52.5%;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
    color: #4F5845;
    box-sizing: border-box;
    font-size: 1.2rem;
    background-color: #fff;
}

section button {
    color: white;
    padding: 1rem;
    width: 12.5%;
    border: none;
    border-radius: 1.5rem;
    background-color: #3E533A;
    font-size: 1.2rem;
    cursor: pointer;
}

.resultados-pesquisa {
    width: 65%;
    height: 46vh;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    background-color: #Fff;
    padding: 20px;
    border-radius: 1.5rem;
}

.introducao {
    text-align: justify;
    line-height: 1.5;
}

.introducaoTexto {
    width: 65%;
    color: #2E3B2F;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    background-color: #Fff;
    padding: 20px;
    border-radius: 1.5rem;
}

.introducaoTexto a {
    color: #2E3B2F;
}


.item-resultado {
    background: #F2F1ED;
    border-radius: 0.6rem;

    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-resultado h2 {
    font-size: 1.5rem;
    color: #2E3B2F;
}

.item-resultado a {
    text-decoration: none;
    color: #2E3B2F;
}

.item-resultado a:hover {
    text-decoration: underline;
    color: #000000;
}

.descricao-meta {
    color: #4F5845;
    margin: 0.5rem 0;
}

footer {
    background-color: #EDEBE6;
    color: #4F5845;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 1rem;
    bottom: 0;
    left: 0;
}